footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-gray-3;
  font-weight: $font-weight-regular;
  padding: 1rem 1rem;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-gray-3;
    padding: 1rem 1rem;
  }

  .copyright {
    margin: $margin;
    text-align: center;

    @include tablet {
      margin: $margin;
      text-align: center;
    }
  }

  .menu-icons {
    display: inline-block;

    .menu-icon {
      display: inline-block;
      margin: 0.5rem;
      font-size: 16px;
      color: $color-dark;

      &:hover {
        color: $color-theme;
      }
    }
  }
  .footer-text {
    display: inline-block;
    margin: 0.5rem;
    font-size: 16px;
    color: $color-dark;

    &:hover {
      color: $color-theme;
    }

    .footer-link {
    display: inline-block;
    margin: 0.5rem;
    font-size: 16px;
    color: $color-dark;
    }
    
    &:hover {
      color: $color-theme;
    }
  }
}
