<section class="content-section">
  <div class="container">
    <div class="info-box">
      <h1>Om Ninja</h1>
      <h2>Hundinstruktör / Beteendeutredare för hund / Civil tjänstehundsförare</h2>
      <div class="img-content">
      <img src="/assets/images/components/ninja.webp" class="profile-picture" alt="Ninja - Hundyra">
    </div>
      <div class="text-content">
        <p>Ninja heter då jag och bor tillsammans med min sambo och vår hund Hybris på en liten gård, strax utanför
          Borås (i Marks kommun). Just nu arbetar jag med hund via Hundyra.se och Hundvetare.se. Jag håller kurser (lite
          då och då), privatträningar, öppenträning i Nose work och gör även beteendeutredningar. Tillsammans med min
          egen hund jobbar jag även med granbarkborresök.</p>
        <p>I hundträning är mitt absoluta största intresse olika typer av nosarbeten. Jag älskar att nörda ner mig i
          detaljer, bygga kluriga sök och se hur hunden tar sig an de utmaningarna. Nosen är trots allt hundens främsta
          verktyg och det är så häftigt att se dem "in action". Under sommaren 2022 blev jag och min hund Hybris färdiga
          med vår utbildning till certifierat granbarkborresökekipage hos SnifferDogs Sweden.</p>
        <p>I min arbetsroll försöker jag alltid se till att vara uppdaterad och aktuell. Hundträning är inte bara
          färskvara för våra hundar utan så även för oss människor. Att alltid se till att jobba med ny och uppdaterad
          kunskap tycker jag därför är oerhört viktigt.</p>
        <p>Varmt välkommen att kontakta mig för mer information eller din bokningsförfrågan!</p>
      </div>
    </div>
  </div>
</section>