.content-section {

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;    
  
      .info-box {
        max-width: 782px;
        line-height: 1.5;

        a {
          color: $color-theme;
          text-decoration: none;
        }

        .text-content {
          margin: 2rem 0 0 2rem;
          text-align: center;
        }
  
        h1 {
          margin: 2rem 0 1rem 0;
          text-align: center; 
          font-size: $font-size-26;
          font-weight: $font-weight-medium;
          color: $color-theme;

          @include tablet {
            font-size: $font-size-22;
          }      
        }
  
        h2 {
          margin: 1rem 0 1rem 0;
          text-align: center; 
          font-size: $font-size-20;
          color: $color-theme;
          font-weight: $font-weight-light;

          @include tablet {
            font-size: $font-size-18;
          }
        }
  
        p {
          text-align: center; 
          font-size: $font-size-16;
          line-height: 1.5;
          font-family: $font-barlow;
          font-weight: $font-weight-light;
          color: $color-theme-dark;

          @include tablet {
            font-size: $font-size-17;
          }  
        }
  
        .img-content {
          margin: 1rem auto;
        }

        .profile-picture {
          border-radius: 50%;
          width: 300px; 
          height: 300px; 
          object-fit: cover;
        }
  
        .contact-content {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1rem;
        }
      }
      
      .text-box {
        margin: 2rem 0 0 0;

        a {
          color: $color-theme;
          text-decoration: none;
        }
      }
    }
  }