.villkor-section, .privacy-section {

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: $max-width;

    .text-content {
      margin: $margin;
      text-align: center;
    }
  }
}
