<footer>
  <div class="container-footer">
    <div class="social-icons">
      <a href="https://www.instagram.com/hundyra" target="_blank" aria-label="Instagram">
        <i [class]="iconService.instagramIconClass" aria-hidden="true"></i>
      </a>
      <a href="https://www.facebook.com/hundyra" target="_blank" aria-label="Facebook">
        <i [class]="iconService.facebookIconClass" aria-hidden="true"></i>
      </a>
    </div>
    <p class="copyright">
      ©2024 Hundyra.se</p>
    <div class="footer-links">
      <a class="footer-link" href="/kontakt">Kontakta mig</a>
      <a class="footer-link" href="/villkor">Köpvillkor</a>
      <a class="footer-link" href="/sekretesspolicy">Sekretesspolicy</a>
    </div>
  </div>
</footer>