<footer>
    <div class="copyright">©2024 Hundyra.se | All right reserved.</div>
    <div class="menu-icons">
      <a class="menu-icon" href="mailto:{{ emailService.emailAddress }}"><i class="{{ iconService.envelopeIconClass }}"></i></a>
      <a class="menu-icon" href="https://www.instagram.com/hundyra" target="_blank"><i class="{{ iconService.instagramIconClass }}"></i></a>
      <a class="menu-icon" href="https://www.facebook.com/hundyra" target="_blank"><i class="{{ iconService.facebookIconClass }}"></i></a>
    </div>
</footer>
